@import "theme-1-colors";
@import "font";

* {
    margin: 0;
}

.page {
    height: 100dvh;
    &__body {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: $color-2;
        align-items: center;
    }
}

.header {

    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;

    & .container {
        background-color: $color-4;
        height: 90px;
        width: min(95vw, 1400px);
        border-radius: 45px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
}

.container {
    & .left {
        display: flex;
        gap: 1vw;
    }
}

.main {
    flex: 1;
    width: min(94vw, 1400px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    background-color: $color-4;
    .container {
        height: 200px;
    }
}

.search-button {
    display: flex;
    background-color: $color-1;
    height: 60px;
    width: 140px;
    margin: 15px;
    border-radius: 30px 0 0 30px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border: none;

    &:before {
        font-family: $sts-font-family;
        content: $icon-loupe;
        font-size: 30px;
        font-weight: normal;
    }
}

.shopping-cart-icon {
    &:before {
        font-family: $sts-font-family;
        content: $icon-shopping-cart;
        font-size: inherit;
    }
}

.nav {
    & ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        height: 100%;
        width: 100%;
        padding: 0;
        gap: 1.5vw;
    }
    & li {

    }
    & a {
        text-decoration: none;
        color: $color-6;
        font-size: 32px;
        font-weight: bold;
        width: 100%;
    }
}

.login {
    padding: 0 20px;
    background-color: $color-5;
    border-radius: 45px;
    display: flex;
    gap: 12px;
    justify-content: space-evenly;
    align-items: center;

    & a {
        text-decoration: none;
        color: $color-6;
        font-size: 32px;
        font-weight: bold;
    }
}

.row {
    display: flex;
    justify-content: center;

    &_center {
        align-items: center;
    }

    &_between {
        justify-content: space-between;
    }
}


.column {
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 330px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

.widget {
    background-color: $color-3;
    border-radius: 20px;
    padding: 8px;

    &__button {
        border: none;
        border-radius: 20px;
        padding: 4% 20%;
        margin: 4px 0;
        background-color: $color-1;
        color: $color-5;
    }
}

.center {
    display: flex;
    justify-content: center;
}

.list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;

    &__item {
        font-size: 16px;
        border-radius: 10px;

        &_active {
            background-color: $color-4;
            color: $color-1;
        }

        &_filter {
            padding: 2px 0;
        }

        &_unactive {
            opacity: 0.5;
        }
    }
}

.product {
    width: 240px;
    background-color: $color-1;
    border-radius: 32px;
    position: relative;
    padding-bottom: 50px;

    & a {
        text-decoration: none;
    }

    &__image {
        width: 240px;
        height: 240px;
        border-radius: 32px 32px 0 0;
    }

    &__price {
        font-size: 16px;
        font-weight: bold;
        color: $color-5;
        margin-top: 4px;
        margin-left: 12px;

        &:after {
            content: ' ₽';
        }
    }

    &__name {
        font-size: 14px;
        color: $color-5;
        margin-top: 4px;
        margin-left: 12px;
    }

    &__rate {

        margin-top: 4px;
        margin-left: 12px;

        .rating {

            &:before {
                font-family: $sts-font-family;
                content: $icon-star;
                color: black;
                opacity: 0.5;
            }

            &_active-star:before {
                color: $color-3;
                opacity: 1;
            }
        }
    }

    &__button {
        text-decoration: none;
        font-size: 14px;
        color: $color-2;
        background-color: $color-4;
        padding: 4px;
        text-align: center;
        border-radius: 16px;
        border: 3px solid $color-3;
        position: absolute;
        bottom: 12px;
        left: 20px;
        right: 20px;
    }

    &__admin-button {
        display: block;
        padding: 5px 0;
        width: 120px;
        background-color: $color-4;
        border: 3px solid $color-2;
        border-radius: 16px;
        color: $color-1;
        margin: 10px;
        text-decoration: none;
        text-align: center;
        font-size: 14px;

        &:focus, &:hover {

            border-color: $color-4;
            box-shadow: none;
            outline: 0;
            background-color: $color-3;
            color: $color-5;
        }
        &_redact {
            &:before {
                font-family: $sts-font-family;
                content: $icon-pen ' ';
                font-size: 11px;
            }
        }
        &_delete {
            &:before {
                font-family: $sts-font-family;
                content: $icon-close ' ';
                font-size: 10px;
            }
        }
    }
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-evenly;
}

.filter {
    padding: 4px 0;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__clear {
        font-size: 14px;
        color: $color-5;
        cursor: pointer;
    }

    &__collapse, &__expand {
        cursor: pointer;

        &:before {
            font-family: $sts-font-family;
            color: $color-5;
            font-size: 14px;
            padding: 4px;
        }
    }

    &__collapse:before {
        content: $icon-arrow-up;
    }

    &__expand:before {
        content: $icon-arrow-down;
    }

    &__title {
        padding: 0 6px;
        font-size: 18px;
        font-weight: bold;
    }

    &__body {
        padding: 6px;
    }
}

.br {
    width: 92%;
    margin: 4px 4%;
    background-color: $color-5;
    height: 2px;
}

.content {
    width: 100%;
}

.admin-block {
    width: auto;
    background-color: $color-3;
    margin: 20px;
    border-radius: 25px;
    border: 3px solid $color-4;

    &__button {
        display: block;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: $color-5;
        background-color: $color-2;
        padding: 5px;
        text-align: center;
        border-radius: 16px;
        border: 3px solid $color-1;
        margin: 12px 20px;
        height: 40px;
    }
}

.form {

    margin: 20px;
    width: auto;
    background-color: $color-1;
    border-radius: 25px;
    border: 2px solid $color-4;
    color: $color-5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__title {

        padding: 12px;
        font-weight: bold;
    }

    &__item {

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;


        & label {

            font-size: 20px;
        }

        & input, & textarea, & select {

            width: 60vw;
            padding: 6px;
            border-radius: 16px;
            border: 2px solid $color-5;
            background-color: $color-4;
            color: $color-1;

            &:focus {

                border-color: $color-5;
                box-shadow: none;
                outline: 0;
                background-color: $color-2;
                color: $color-5;
            }
        }
        & textarea {
            height: 100px;
            resize: vertical;
        }
        & select {
            width: auto;
        }
        &_small {
            & input {
                width: auto;
            }
        }
        &_medium {
            & input {
                width: 25vw;
            }
        }

        & img {
            width: 22vw;
            padding: 10px;
        }
    }

    &__container {
        display: flex;
        width: calc(60vw + 6px * 2);
        justify-content: space-between;
    }

    &__button {

        display: block;
        padding: 5px 10px;
        background-color: $color-4;
        border: 3px solid $color-2;
        border-radius: 16px;
        color: $color-1;
        margin: 10px;
        text-decoration: none;
        text-align: center;
        font-size: 14px;

        &:focus, &:hover {

            border-color: $color-4;
            box-shadow: none;
            outline: 0;
            background-color: $color-3;
            color: $color-5;
        }
    }
}

.error-message {

}

.search {
    background-color: $color-1;
    padding: 5px 0;
    border-radius: 12px;
    margin-top: 4px;
    border: 3px solid $color-3;

    & input {
        background-color: inherit;
        border: none;
        width: calc(100% - 20px);
        margin-bottom: 5px;
        font-size: 14px;
        padding: 0 10px;
        color: $color-5;

        &:focus, &:hover {
            box-shadow: none;
            outline: 0;

            &::placeholder {
                opacity: 0.5;
            }
        }

        &::placeholder {
            color: $color-5;
        }
    }

    &__list {
        list-style: none;
        text-align: left;
        padding: 0;
        color: $color-4;

        & li {
            padding: 2px 10px;
            cursor: pointer;

            &:hover {
                background-color: $color-2;
                color: $color-5;
            }
        }
    }
}

.categories {

    & input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &__item {
        padding: 4px;
        width: 96%;

        & label {
            cursor: pointer;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        padding: 4px;

        &_active {
            background-color: $color-4;
            color: $color-1;
            border-radius: 8px;
        }
    }
}

.price {
    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__input {
        width: 34%;
        background-color: $color-1;
        border-radius: 15px;
        border: 2px solid $color-4;
        padding: 5px 10px;
        color: $color-6;
        font-size: 15px;

        &::placeholder {
            color: $color-6;
            opacity: 0.5;
        }

        &:focus {
            border-color: $color-5;
            box-shadow: none;
            outline: 0;
            background-color: $color-2;
        }
    }
}

.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    &-box {
        background-color: $color-1;
        padding: 20px;
        border-radius: 25px;
        border: 1px solid $color-4;
    }

    &-count {
        font-size: 26px;
        font-weight: normal;
    }

    &-table {

        &__head {
            background-color: $color-2;

            & .cart-table__cell {
                outline: thin solid $color-5;
                color: $color-4;
            }
        }

        &__body {
            text-align: left;
        }

        &__cell {
            padding: 3px 10px;

            &_name {
                width: 60vw;
            }
        }

        &__stroke {
            color: $color-5;

            &:hover {
                background-color: $color-3;
                color: $color-1;

                & .cart-table__cell {
                    //nothing
                }
            }
        }
    }

    &__change-count {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &__button {
            border-radius: 15px;
            border: 1px solid $color-2;
            background-color: $color-4;
            color: $color-1;
            width: 22px;
            height: 22px;

            .cart-table__stroke:hover & {
                background-color: $color-1;
                border-color: $color-3;
                color: $color-4;
            }

            .cart-table__stroke &:hover {
                background-color: $color-2;
                border-color: $color-1;
                color: $color-5;
            }
        }
    }
}

.empty-cart {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: $color-1;
    border-radius: 25px;
    border: 4px solid $color-3;

    &__text {
        font-size: 32px;
        color: $color-5;
        font-weight: bold;
    }

    &__button {
        font-size: 18px;
        background-color: $color-3;
        border: 3px solid $color-4;
        border-radius: 16px;
        padding: 5px 10px;
        color: $color-5;

        &:hover {
            background-color: $color-2;
            border-color: $color-3;
            color: $color-4;
        }
    }
}

.order {

    &s {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    &-text {
        padding: 2px;

        & span {
            color: $color-5;
        }

        &-box {
            padding: 0 10px;
        }
    }
}
