$sts-font-family: "soft-toys-store" !default;
$sts-font-path: "../fonts" !default;

$icon-star: "\e900";
$icon-arrow-up: "\e901";
$icon-arrow-down: "\e902";
$icon-shopping-cart: "\e903";
$icon-loupe: "\e904";

